<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.onedrivesdk.tests"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <instrumentation
        android:functionalTest="false"
        android:targetPackage="com.microsoft.onedrivesdk.tests"
        android:name="android.test.InstrumentationTestRunner" />
    
    <application
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon">
        <uses-library android:name="android.test.runner"/>
    </application>
    
</manifest>
